SELECT * FROM dbo.Asset AS a
SELECT * FROM stage.SQL_Resource_Info AS sri
SELECT * FROM stage.Server_Drive_Space AS sds
SELECT * FROM stage.SQL_Instance_Info AS sii
SELECT * FROM stage.SQL_Database_Info AS sdi
SELECT * FROM stage.SQL_Job_Info AS sji
SELECT * FROM stage.SQL_Error_Logs AS sel
